div {
    width: 300px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid blue;
    color: white;
}
#myDiv {
    transform: rotateX(0deg);
    transition-duration: background-color 2s, color 4s;
}

#myDiv:hover {
transform: rotateY(180deg);
background-color: lightgreen;
color: blue;
transform: translate(500px,0px);
transition-timing-function: ease-in;
} 

#myDiv2 {
transform: rotateY(0deg);
transition-duration: background-color 2s, color 4s;
transition-delay: 3s;
}

#myDiv2:hover {
    transform: rotateY(180deg);
    background-color: lightgreen;
    color: blue;
    transform: translate(500px,0px);
    transition-timing-function: ease-in;
    
}

#myDiv3 {
    transform: rotateZ(0deg);
    transition-duration: background-color 2s, color 4s;
    transition-delay: 3s;
    }
    
    #myDiv3:hover {
        transform: rotateZ(180deg);
        background-color: lightgreen;
        color: blue;
        transform: translate(500px,0px);
        transition-timing-function: ease-in;
    }